{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/explore');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#explore').val($('#explore').val() + '<' + data.msg + '>\n');
                    $('#explore').scrollTop($('#explore')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#explore').val($('#explore').val() + data.msg + '\n');
                    $('#explore').scrollTop($('#explore')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
<!--                    window.location.href = "{{ url_for('main.user', username=username) }}";-->
                });
            }






</script>
</head>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <strong>Your map as <i>{{current_user.role}}</i></strong>
            <h3><strong> {{current_user.username }}, Press RUN to start</strong></h3>
            {% if current_user.role == 'Defuser' %}


            <iframe src="https://trinket.io/embed/pygame/3690509252?outputOnly=true" width="100%" height="600"
                    frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>


            {% else %}

            <iframe src="https://trinket.io/embed/pygame/48cda838f3?outputOnly=true" width="100%" height="600"
                    frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>


            {% endif %}


        </div>
        <div class="col-sm-4">

            {{wtf.quick_form(textform)}}


            {% if current_user.role == 'Defuser' %}
            <br>
            <img src="/static/Arrow_keys.jpg" style="width: 35%">
            <p>You can navigate the maze using the arrow keys on your keyboard.</p>


            {% endif %}
            <strong>After completing the task do not forget to click below the 'End of Task Questionnaire'
                button. </strong>

        </div>

    </div>
</div>
<div class="container">
    <br>
    <hr>

        {{ form.hidden_tag() }}
        {{wtf.quick_form(form)}}


</div>


{% endblock %}
