{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container-fluid bg-3 text-center">
    <h2>Welcome to the dangerous and challenging world of bomb defusing</h2>
    <h3><i>On the Subject of Mazes</i></h3>
    <br>
    <p><em>Study this manual carefully.</em></p>
    <div class="row">
        <div class="col-sm-4">
            <p><strong>Instructions</strong></p>
            <p>
            <ul class="list-group list-group-flush" style="text-align: left; font-size: 12px;">
                <li class="list-group-item">When the game starts, you will be either the <strong>Lead Expert</strong> or
                    the <strong>Defuser</strong>.
                </li>
                <li class="list-group-item">In the next screen, you will learn which of the two roles you will have in
                    the game.
                </li>
                <li class="list-group-item">Look at the images on your right. When the game starts, you will see only
                    one of them, depending on your role.

                </li>
                <li class="list-group-item">If you are the Lead Expert, you will see an image like the one on the left.
                    If you are the Defuser, you will see one like the one on the right.
                </li>
                <li class="list-group-item">The Lead Expert and the Defuser must cooperate to navigate the maze and
                    defuse the bomb. The Lead Expert has the map but cannot navigate, and the Defuser can navigate but
                    does not have the map.

                </li>
                <li class="list-group-item">If you become the Lead Expert, you must guide the Defuser through their map
                    to defuse the bomb. Remember: Guide them so that they avoid the bombs (blue squares).
                </li>
                <li class="list-group-item">
                    If you become the Defuser, tell you teammate how your map looks like, so that they understand which
                    of the four maps that they have is yours. Then with their help, navigate the yellow square (you) to
                    the red square (bomb), using the arrow keys.

                </li>


            </ul>
            </p>
            <p><strong>Note also that: </strong></p>
            <p>
            <ul class="list-group list-group-flush" style="text-align: left; font-size: 12px;">
                <li class="list-group-item">
                    You only have a limited amount of time to complete the task. Only the Defuser can see the timer.
                </li>
                <li class="list-group-item">
                    Upon completing the task, the Defuser must share a unique code with the Lead Expert, so that you can
                    both be rewarded.
                </li>
                <li class="list-group-item">
                    There is a questionnaire at the end of the task that must be completed.
                </li>

            </ul>
            </p>

        </div>
        <div class="col-sm-4">
            <div class="list-group-item list-group-item-action flex-column align-items-start "><p><strong>Example of
                what
                the Lead Expert sees</strong></p>
                <img src="/static/leader_example.png" style="width: 100%; height: 200 px;"></div>


        </div>
        <div class="col-sm-4">
            <div class="list-group-item list-group-item-action flex-column align-items-start "><p><strong>Example of
                what
                the Defuser sees</strong></p>
                <img src="/static/defuser_example.png" style="width: 100%; height: 200 px;"></div>


        </div>
    </div>

    <a type="button" class="btn btn-primary btn-lg btn-block"
       href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Meet your teammate') }}</a>
</div>
{% endblock %}
